nav.about {
  position: fixed;
  top: 21.5rem;
  left: 2rem;
  font-family: 'SourceSerifPro';
  font-size: var(--fs-xl);
  line-height: var(--lh-l);
}
.lang {
  display: flex;
  gap: 1.2rem;
  margin-top: .8rem;
}
.lang a {
  font-size: var(--fs-m);
  line-height: var(--ls-m);
  text-decoration-thickness: 0.2rem;
}
article {
  margin-bottom: 16rem;
}
@media(max-width: 1200px){
  nav.about {
    top: 13.5rem;
  }
}
@media(max-width: 1000px){
  nav.about {
    position: fixed;
    top: 6rem;
    right: 6rem;
    left: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    height: 10rem;
    background: white;
    font-size: var(--fs-xl);
    line-height: var(--fs-xl);
  }
}
@media(max-width: 600px) {
  nav.about {
    right: 4rem;
    left: 4rem;
  }
}