main {
  display: grid;
  grid-template-columns: 54rem 54rem;
  gap: 8rem 16rem;
}
main a {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
figcaption {
  margin-top: 1rem;
}
.single {
  grid-column: span 1;
  width: 100%;
}
.double {
  grid-column: span 2;
  width: 97rem;
}
.wrapper {
  position: relative;
  height: 0;
  background: #f8f8f8;
}
.wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 48rem 48rem;
    gap: 8rem 8rem;
  }
  .double {
    width: 84rem;
  }
}
@media (max-width: 1000px) {
  main {
    display: block;
    width: calc(100% - 12rem);
  }
  main a {
    margin-bottom: 8rem;
  }
  .single {
    width: calc(100% - 16rem);
  }
  .double {
    width: 100%;
  }
  img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 600px) {
  main {
    display: block;
    width: calc(100% - 8rem);
  }
}