body {
  display: grid;
  grid-template-rows: auto 1fr 60px;
  min-height: 100vh;
}
header {
  display: flex;
  height: 60px;
}
header img {
  height: 100%;
  width: auto;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 48px;
  margin-left: 125px;
  font-family: 'SourceSerifPro';
}
header a {
  display: block;
  display: flex;
  align-items: center;
  color: blue;
  font-size: 49px;
}
header a.active {
  color: black;
}
main {
  margin: 160px auto 60px;
}
footer {
  background: blue;
}