body {
  display: grid;
  grid-template-rows: auto 1fr 60px;
  min-height: 100vh;
}
header {
  position: sticky;
  top: 0;
  display: flex;
  height: 60px;
  background: white;
}
header img {
  height: 100%;
  width: auto;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 48px;
  margin-left: 125px;
  font-family: 'SourceSerifPro';
}
header a {
  color: blue;
  font-size: 49px;
  line-height: 60px;
}
header a.active {
  color: black;
}
footer {
  background: blue;
}