@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl.woff") format("woff"),
    url("/fonts/SuisseIntl.woff2") format("woff2");
}
@font-face {
  font-family: "SourceSerifPro";
  src: url("/fonts/SourceSerifPro.woff") format("woff"),
    url("/fonts/SourceSerifPro.woff2") format("woff2");
}
* {
  all: unset;
  display: revert;
  box-sizing: border-box;
}
ol,
ul,
menu {
  list-style: none;
}
body {
  font-family: "SuisseIntl";
  font-size: 18px;
  line-height: 24px;
}
a {
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
}
svg {
  width: 100%;
}
h1, h2 {
  font-size: 45px;
  line-height: 54px;
}
h1 {
  margin-bottom: 54px;
}
p {
  margin: 54px auto 54px;
  font-size: 28px;
  line-height: 36px;
}
figcaption {
  white-space: pre-wrap;
}