@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl.woff") format("woff"),
    url("/fonts/SuisseIntl.woff2") format("woff2");
}
@font-face {
  font-family: "SourceSerifPro";
  src: url("/fonts/SourceSerifPro.woff") format("woff"),
    url("/fonts/SourceSerifPro.woff2") format("woff2");
}
:root {
  --fs-xl: 4.9rem;
  --lh-xl: 5.4rem;
  --fs-l: 4.5rem;
  --lh-l: 5.4rem;
  --fs-m: 2.8rem;
  --lh-m: 3.6rem;
  --fs-s: 1.8rem;
  --lh-s: 2.4rem;
  font-size: 8px;
}
*:not(img) {
  all: unset;
  display: revert;
  box-sizing: border-box;
}
ol,
ul,
menu {
  list-style: none;
}
body {
  font-family: "SuisseIntl";
  font-size: var(--fs-s);
  line-height: var(--lh-s);
}
main {
  margin-right: auto;
  margin-left: auto;
}
a,
button {
  cursor: pointer;
}
img, svg, video {
  display: block;
  width: 100%;
}
img.loading {
  opacity: 0.1;
  transition: opacity 400ms;
}
img.loaded {
  opacity: 1;
}
h3 {
  font-size: var(--fs-l);
  line-height: var(--lh-l);
  margin-top: var(--lh-l);
}
h3:first-child,
p:first-child {
  margin-top: 0;
}
p,
h4,
h5,
ul {
  font-size: var(--fs-m);
  line-height: var(--lh-m);
}
p + h4 {
  margin-top: calc(2 * var(--lh-m));
}
p, h5, li {
  margin-top: var(--lh-m);
}
/* p {
  margin-top: calc(2 * var(--lh-m));
} */
p + p {
  margin-top: 0;
  text-indent: 5.4rem;
}
h5 + p {
  margin-top: 0;
}
blockquote {
  margin-top: 7.2rem;
  margin-bottom: 7.2rem;
  margin-left: 4.8rem;
  font-size: var(--fs-m);
  line-height: var(--lh-m);
}
li {
  margin-top: 3.6rem;
  margin-left: 16rem;
  font-size: var(--fs-m);
  line-height: var(--lh-m);
}
strong {
  position: absolute;
  margin-left: -16rem;
  font-size: var(--fs-m);
  /* line-height: var(--lh-m); */
}
em {
  font-size: var(--fs-s);
  line-height: 0;
}
figcaption {
  white-space: pre-wrap;
}
.blocks {
  width: 96rem;
  padding-right: 2rem;
}
.blocks a {
  color: blue;
  text-decoration: underline;
}
.visual-block,
.text-block {
  margin-bottom: 5.4rem;
}
.visual-block {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
}
.visual-block figure {
  width: min-content;
}
.visual-block figcaption {
  margin-top: 1.2rem;
}
.visual-block img {
  width: auto;
  height: 30rem;
}
.icon-nav {
  font-size: var(--fs-l);
  padding: 4.8rem;
  text-align: center;
}
a.icon-nav,
button.icon-nav,
.icon-nav a,
.icon-nav button {
  color: blue;
}
@media (max-width: 1000px) {
  em {
    display: block;
    line-height: 2.4rem;
  }
  .blocks {
    width: calc(100% - 12rem);
  }
  .icon-nav {
    padding: 4.8rem;
  }
  .visual-block {
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .visual-block figure {
    width: 100%;
  }
  .visual-block img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 600px) {
  li {
    margin-left: 12rem;
  }
  strong {
    margin-left: -12rem;
  }
  .blocks {
    width: calc(100% - 8rem);
  }
  .icon-nav {
    padding: 2.8rem;
  }
  .visual-block {
    width: 100%;
  }
}
@media (max-width: 500px) {
  :root {
    /* zoom: 0.6; */
    font-size: 6px;
    /* --fs-xl: 36px;
    --lh-xl: 42px;
    --fs-l: 30px;
    --lh-l: 36px;
    --fs-m: 21px;
    --lh-m: 27px;
    --fs-s: 15px;
    --lh-s: 20px; */
  }
}
