body {
  display: grid;
  grid-template-rows: 108px minmax(0, 1fr) 196px;
  height: 100vh;
}
main {
  grid-row: 2;
  height: 100%;
  padding: 0 20px 0;
  overflow: scroll;
}
img,
video {
  grid-row: 2;
  height: 100%;
  object-fit: contain;
}
.caption {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 34px;
  padding-left: 40px;
  white-space: pre;
}
.icon-nav.bc {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0px;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 300px;
  /* height: 60px; */
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.icon-nav .prev {
  grid-column: 1;
}
.icon-nav .indicator {
  grid-column: 2;
}
.icon-nav .next {
  grid-column: 3;
}
.icon-nav.tr {
  position: fixed;
  top: 0px;
  right: 0px;
}
@media (max-width: 1300px) {
  img {
    width: calc(100% - 30px);
    margin: auto;
  }
  main {
    grid-row: 2;
  }
  .icon-nav {
    padding: 15px;
  }
  .icon-nav.bc {
    top: 10px;
    bottom: auto;
  }
  .icon-nav.tr {
    top: 10px;
  }
  .caption {
    padding-bottom: 10px;
    padding-left: 15px;
  }
}
