body {
  display: grid;
  grid-template-rows: 10.8rem minmax(0, 1fr) 19.6rem;
  height: 100vh;
}
main {
  grid-row: 2;
  width: calc(100% - 9.6rem);
  height: 100%;
  overflow: scroll;
}
main.visual * {
  height: 100%;
  object-fit: contain;
}
.caption {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 2rem;
  padding-left: 4.8rem;
  white-space: pre;
}
.icon-nav.bc {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 30rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.icon-nav .prev {
  grid-column: 1;
}
.icon-nav .indicator {
  grid-column: 2;
}
.icon-nav .next {
  grid-column: 3;
}
.icon-nav.tr {
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: 6rem;
  height: 6rem;
  padding: 0;
}
.icon-nav.tr div {
  position: absolute;
  top: 2.8rem;
  left: 1.2rem;
  width: 3.6rem;
  height: 0.4rem;
  background: blue;
}
.icon-nav.tr .t {
  transform: rotate(45deg);
}
.icon-nav.tr .b {
  transform: rotate(-45deg);
}
@media (max-width: 1000px) {
  main {
    width: calc(100% - 12rem);
  }
  img {
    margin: auto;
  }
  .icon-nav.bc {
    top: 0;
    bottom: auto;
  }
  .icon-nav.tr {
    right: 1.2rem;
  }
  .caption {
    padding-bottom: 1rem;
    padding-left: 6rem;
  }
}
@media (max-width: 600px) {
  main.slide {
    width: calc(100% - 8rem);
    margin: auto;
  }
  .icon-nav.tr {
    top: 0.8rem;
  }
  .caption {
    padding-bottom: 1rem;
    padding-left: 4rem;
  }
}
