.caption {
  position: fixed;
  bottom: 24px;
  left: 48px;
  white-space: pre;
}
.slideNav {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 48px;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 240px;
  margin: auto;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
}
.slideNav a {
  display: flex;
  align-items: center;
}
.slideNav .prev {
  grid-column: 1;
}
.slideNav .indicator {
  grid-column: 2;
}
.slideNav .next {
  grid-column: 3
}
.slideNav svg {
  height: 40px;
  color: blue;
}
.close {
  position: fixed;
  top: 48px;
  right: 48px;
}
.close svg {
  width: 35px;
  height: 35px;
  color: blue;
}